---
layout: default
title: Pork Belly Restaurant - San Miguel de Allende
---

<!-- HEADER SECTION -->
{% include header.html %}

<!-- Location restaurante -->

<section class='grid-middle bg-dark'>
    <div class='col-6 bg-dark padded-1'>
        <h1 class='padded-1 big-text'>Pork Belly Restaurant</h1>
        <a href='https://g.page/pork-belly-sma?share' target='_blank' class='padded-1'>Stirling Dickinson 10</a>
        <p class='padded-1'>San Miguel de Allende</p>
        <a class='padded-1' href='tel:+524151048415'>Tel: 415 104 8415</a>
    </div>

    <div class='col-6 map-responsive center'>
        <a href='https://g.page/pork-belly-sma?share' target='_blank' > <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10241.877523072293!2d-100.75362871149201!3d20.906061349744842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b51aebca40ff7%3A0x4fe09754cba6b6a8!2sPork%20Belly!5e0!3m2!1ses!2ses!4v1629660538524!5m2!1ses!2ses" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </a>
    </div>
</section>


<!-- Location Tacos y Cocktails -->

<section class='grid-middle bg-medium'>
    <div class='col-6 map-responsive center'>
        <a href='https://g.page/pork-belly-sma?share' target='_blank' > <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1356.301095650512!2d-100.74464026101936!3d20.91274023049441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b51b0a209cacf%3A0x76aeb664c0995d4c!2sCuna%20de%20Allende%2015%2C%20Zona%20Centro%2C%2037700%20San%20Miguel%20de%20Allende%2C%20Gto.%2C%20M%C3%A9xico!5e0!3m2!1ses!2ses!4v1629661037934!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </a>
    </div>

    <div class='col-6 bg-medium padded-1 right'>
        <h1 class='padded-1 big-text'>Pork Belly Tacos & Cocktails</h1>
        <a href='https://goo.gl/maps/zCDwJt3u6CZM2EE96' target='_blank' class='padded-1'>Cuna Allende 15</a>
        <p class='padded-1'>San Miguel de Allende</p>
        <a class='padded-1' href='tel:+524151549803'>Tel: 415 154 9803</a>
    </div>
</section>

{% include footer.html %}