---
layout: default
title: Pork Belly Restaurante - San Miguel de Allende
entradas:
 - platillo: Guacamole con totopos
   descripcion: 
   precio: 80
 - platillo: Ensalada de chayote
   descripcion: Segmentos de naranja, oregano, cilantro y semillas de calabaza
   precio: 130
---

{% include header.html %}

<!-- Locations -->


<section class='grid-middle bg-dark'>
    <div class='col-6 padded-1'>
        <h1 class='padded-1 big-text'>Pork Belly Restaurant</h1>
        <a href='https://g.page/pork-belly-sma?share' target='_blank' class='padded-1'>Stirling Dickinson 10</a>
        <p class='padded-1'>San Miguel de Allende</p>
        <a class='padded-1' href='tel:+524151048415'>Tel: 415 104 8415</a>
    </div>

    <div class='col-6 bg-medium bg-image bg-restaurante  tall-50'>
    </div>
</section>

{% include images.html %}

<!-- Menu Section -->

<section class='grid padded bg-dark'>
    <div class='col-12'>
        <h3 class='center uppercase'>menu</h3>
    </div>

    <div class='col-6_sm-12 padded-1'>
        <h3>Entradas & Platillos para compartir</h3>
        
        <div class='grid padded-1 padded-l-0'>
            {% for item in page.entradas %}
            <div class='col-10 padded-0'>
                <p>{{item.platillo}}</p>             
            </div>
            <div class='col-2 padded-0'>
                <p>${{item.precio}}</p>
            </div>
          <div class='col-10 padded-b-1'>
              <p>{{item.descripcion}}</p>
          </div>
          {% endfor %}
        </div>

