---
layout: default
title: Pork Belly Restaurante - San Miguel de Allende
---

{% include header.html %}

<!-- Locations -->


<section class='grid-middle bg-dark'>
    <div class='col-6 padded-1'>
        <h1 class='padded-1 big-text'>Pork Belly Restaurant</h1>
        <a href='https://g.page/pork-belly-sma?share' target='_blank' class='padded-1'>Stirling Dickinson 10</a>
        <p class='padded-1'>San Miguel de Allende</p>
        <a class='padded-1' href='tel:+524151048415'>Tel: 415 104 8415</a>
    </div>

    <div class='col-6 bg-medium bg-image bg-restaurante  tall-50'>
    </div>
</section>

{% include images.html %}

<!-- Menu Section -->

{% include menu-restaurante.html %}