:root{
    --dark:#4F544F;
    --medium:#8B939C;
    --light:#C5C5C3;
    --text-color:#F7F4F2;
    --serif: 'Roboto Slab', serif;
    --heading: 'Roboto Slab', sans-serif;
  }

/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[class*='grid']{
    padding:0;
    margin:0;
}

img{max-width:100%;}

 
  /* REUSABLE UTILITY CLASSES */
  
  .tall-50  {min-height:50vh;}
  .tall-60  {min-height:60vh;}
  .tall-70  {min-height:70vh;}
  .tall-80  {min-height:80vh;}
  .tall-90  {min-height:90vh;}
  .tall-100 {min-height:100vh;}
  
  .padded   {padding:5%;}
  .padded-1 {padding:1rem;}
  .padded-2 {padding:2rem;}
  .padded-0 {padding:0;}
  .padded-t-0{padding-top:0;}
  .padded-b-0{padding-bottom:0;}
  .padded-b-1{padding-bottom:1rem;}
  .padded-lr-2{padding-right:1rem;
            padding-left:1rem;}
  
  .margin   {margin:5%;}
  .margin-t-0{margin-top:0;}
  .margin-b-0{margin-bottom:0;}
  
  .bg-light   {background-color: var(--light);}
  .bg-medium  {background-color: var(--medium)}
  .bg-dark    {background-color: var(--dark);}
  
  .left   {text-align:left;}
  .center {text-align:center;}
  .right  {text-align:right;}
  
  /* Typography & Link styles */
  
  body{
   color: var(--text-color);
   font-family: var(--serif);
    font-weight:200;
   }
  
  h1, h2, h3, h4, h5, h6, nav{
    font-family:var(--heading);
    font-weight:600;
  }

 h2{
      font-size:3rem;
  }

  p{
      line-height: 1.5;
  }

 .big-text{font-size:2rem;}

 nav a{
    color: var(--text-color);
    text-decoration:none;
    font-size:1rem;
 }
i{
    font-size:2rem;
}

.subtle{
    opacity:50%;
}

    a{color:inherit; 
    text-decoration:none;}

 nav a:hover{
     /* color:var(--medium); */
     border-bottom:2px solid;
 }

.uppercase{
    text-transform:uppercase;
}

.button{
    border: 2px solid var(--dark);
    color: var(--dark);
    padding:1%;
    text-align:center;
    display:block;
    background-color: #F7F4F2
}

.button:hover{
    background-color:var(--dark);
    color: #F7F4F2; 
    border: 2px solid #F7F4F2; }

  /* Image styles */

    .portrait {padding-bottom:125%;}
    .square {padding-bottom:100%;}
    .landscape{padding-bottom:66%;}

  .bg-image{
      background-image: url(/images/porkbelly-restaurant-sma-34.jpg);
      background-color: var(--dark);
      background-repeat: no-repeat;
      background-size:cover;
  }

  .bg-knife{
      background-image: url(/images/logo/knife-transparent-white.png);
      min-height:5rem;
  }

 /* Map Styles */

 
.map-responsive{
    overflow:hidden;
    padding-bottom:25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
 

/* Form Styles */

form input, form textarea{
    width:100%;
    margin:0.5rem 0;
    padding:0.5rem;
    border:2px solid var(--medium);
    outline:none;
    font-family:inherit;
    font-size:0.9rem;  
  }
  
  form input:focus, form textarea:focus{
    border-color:var(--dark);
  }
  
  textarea{
    min-height:6rem;
  }
  
  form label{
    margin-top:1rem;
    display:block;
    color:#6C7A89;
    font-weight:bold;
  }
  
  form button{
    background-color:#6C7A89;
    color:white;
    border:none;
    padding:0.5rem 2rem;
    letter-spacing:0.1rem;
    margin: 0.5rem 0;
  }
  