---
layout: default
title: Pork Belly Tacos & Cocktails - San Miguel de Allende
entradas:
    - platillo: Guacamole con totopos
      descripcion: Solo una prueba
      precio: 80
    - platillo: Ensalada de chayote
      descripcion: Segmentos de naranja, oregano, cilantro y semillas de calabaza
      precio: 130
tacos:
    - platillo: Arrachera   
      descripcion: Salsa de tomatillo, aguacate y pico de gallo
      precio: 180
    - platillo: Brisket ahumado
      descripcion: Salsa de tomatillo, aguacate, horseradish y pico de gallo
      precio: 190
    - platillo: Arrachera   
      descripcion: Salsa de tomatillo, aguacate y pico de gallo
      precio: 180
    - platillo: Brisket ahumado
      descripcion: Salsa de tomatillo, aguacate, horseradish y pico de gallo
      precio: 190
hamburguesas:
    - platillo: Pulled  Pork
      descripcion: En pan brioche, mayonesa rosa, hombro de cerdo ahumado en lena de mezquite por 24 hrs, BBQ de la casa, ensalada de repollo, zanahoria ,queso Monterrey.
      precio: 160
    - platillo: Pulled  Pork
      descripcion: En pan brioche, mayonesa rosa, hombro de cerdo ahumado en lena de mezquite por 24 hrs, BBQ de la casa, ensalada de repollo, zanahoria ,queso Monterrey.
      precio: 160
fuertes:
    - platillo: Costilllas de cerdo ahumadas
      descripcion: Con BBQ de la casa, pan de elote  con jalapeño y ensalada de repollo con zanahoria.
      precio: 280   
postres:
    - platillo: Apple Crumble with cardomom ice cream
      precio: 100
    - platillo: Apple Crumble with cardomom ice cream
      precio: 100
cocktails:
    - bebida: Hibi Sour
      descripcion: Tequila,campari,spiced hibiscus oleo sacarum, aquafaba and coffee salt
      precio: 140
    - bebida: Hibi Sour
      descripcion: Tequila,campari,spiced hibiscus oleo sacarum, aquafaba and coffee salt
      precio: 140  
fotos:
    - bg_image: /images/porkbelly-restaurant-sma-10.jpg
    - bg_image: /images/porkbelly-restaurant-sma-10.jpg
    - bg_image: /images/porkbelly-restaurant-sma-34.jpg
    - bg_image: /images/porkbelly-restaurant-sma-34.jpg
    
        
---

{% include header.html %}

<!-- Locations -->


<section class='grid-middle bg-dark'>
    <div class='col-6 padded-1'>
        <h1 class='padded-1 big-text'>Pork Belly Tacos & Cocktails</h1>
        <a href='https://goo.gl/maps/zCDwJt3u6CZM2EE96' target='_blank' class='padded-1'>Cuna Allende 15</a>
        <p class='padded-1'>San Miguel de Allende</p>
        <a class='padded-1' href='tel:+524151549803'>Tel: 415 154 9803</a>
    </div>

    <div class='col-6 bg-medium bg-image bg-restaurante  tall-50'>
    </div>
</section>

<!-- Images Grid -->
<section class='grid bg-light padded-1'>
    {% for item in page.fotos limit:4 %}

    <div class='col-3 padded-1'>
        <div class='portrait' style="background-image: url('{{item.bg_image}}');"></div>
    </div>
    {% endfor %}
</section>

<!-- Menu Section -->

<section class='grid padded bg-dark'>
    <div class='col-12'>
        <h3 class='center uppercase'>menu Pork Belly Tacos & Cocktails</h3>
    </div>

<!--COLUMNA UNO -->
    <div class='col-6_sm-12 padded-1'>
        <h3 class='padded-b-1'>Entradas & Platillos para compartir</h3>
        
        <div class='grid padded-l-0'>
            {% for item in page.entradas %}
            <div class='col-10 padded-0'>
                <p><strong>{{item.platillo}}</strong></p>             
            </div>
            <div class='col-2 padded-0'>
                <p>${{item.precio}}</p>
            </div>
          <div class='col-9 padded-b-1'>
              <p>{{item.descripcion}}</p>
          </div>
          {% endfor %}
        </div>

        <h3 class='padded-b-1'>Tacos (Orden de dos en tortillas recien hechas</h3>
        
        <div class='grid padded-l-0'>
            {% for item in page.tacos %}
            <div class='col-10 padded-0'>
                <p><strong>{{item.platillo}}</strong></p>             
            </div>
            <div class='col-2 padded-0'>
                <p>${{item.precio}}</p>
            </div>
          <div class='col-9 padded-b-1'>
              <p>{{item.descripcion}}</p>
          </div>
          {% endfor %}
        </div>

        <h3 class='padded-b-1'>Platos Fuertes</h3>
        
        <div class='grid padded-l-0'>
            {% for item in page.fuertes %}
            <div class='col-10 padded-0'>
                <p><strong>{{item.platillo}}</strong></p>             
            </div>
            <div class='col-2 padded-0'>
                <p>${{item.precio}}</p>
            </div>
          <div class='col-9 padded-b-1'>
              <p>{{item.descripcion}}</p>
          </div>
          {% endfor %}
        </div>


    </div>

<!-- COLUMNA DOS -->
    <div class='col-6_sm-12 padded-1'>
        <h3 class='padded-b-1'>Hamburguesas</h3>
        
        <div class='grid padded-l-0'>
            {% for item in page.hamburguesas %}
            <div class='col-10 padded-0'>
                <p><strong>{{item.platillo}}</strong></p>             
            </div>
            <div class='col-2 padded-0'>
                <p>${{item.precio}}</p>
            </div>
        <div class='col-9 padded-b-1'>
            <p>{{item.descripcion}}</p>
        </div>
        {% endfor %}
        </div>


        <h3 class='padded-b-1'>Postres</h3>
        
        <div class='grid padded-l-0'>
            {% for item in page.postres %}
            <div class='col-10 padded-0'>
                <p><strong>{{item.platillo}}</strong></p>             
            </div>
            <div class='col-2 padded-0'>
                <p>${{item.precio}}</p>
            </div>
        <div class='col-9 padded-b-1'>
            <p>{{item.descripcion}}</p>
        </div>
        {% endfor %}
        </div>

        <h3 class='padded-b-1'>Cocteles</h3>
        
        <div class='grid padded-l-0'>
            {% for item in page.cocktails %}
            <div class='col-10 padded-0'>
                <p><strong>{{item.bebida}}</strong></p>             
            </div>
            <div class='col-2 padded-0'>
                <p>${{item.precio}}</p>
            </div>
        <div class='col-9 padded-b-1'>
            <p>{{item.descripcion}}</p>
        </div>
        {% endfor %}
        </div>

    </div>



</section>

<!-- MENU BUTTONS -->

<section class= 'bg-dark grid-spaceAround padded padded-t-0'>
    <div class='col-4 button menu'>
        <a href='#' target='_blank'>Carta alimentos</a>
    </div>

    <div class='col-4 button'>
        <a href='#' target='_blank'>Carta alimentos</a>
    </div>

</section>


{% include footer.html %}