<section class='bg-dark grid-spaceBetween-middle'>
    <div class='col-3-middle'>
        <img src='/images/logo/porkbelly-logo-transparent-white.png'>
    </div>
    <div class='col-4-middle padded-1'>
        <h3>Pork Belly Restaurant</h3>
        <a href='https://g.page/pork-belly-sma?share' target='_blank' class=''>Stirling Dickinson 10<br> San Miguel de Allende<br></a>
        <a  href='tel:+524151048415'>Tel: 415 104 8415</a>
    </div>
    <div class='col-4-middle padded-1'>
        <h3 >Pork Belly Tacos & Cocktails</h3>
        <a href='https://goo.gl/maps/zCDwJt3u6CZM2EE96' target='_blank'>Cuna Allende 15<br>San Miguel de Allende<br></a>
        <a href='tel:+524151549803'>Tel: 415 154 9803</a>
    </div>
    <div class='col-12 center bg-light padded-0'>
        <a href='https://www.facebook.com/PorkBellysma' target='_blank'  >  <i class="fab fa-facebook padded-1"></i></a> 
        <a href='https://www.instagram.com/porkbelly_sma/?hl=es' target='_blank' > <i class="fab fa-instagram padded-1"></i></a> 
        <a href='https://wa.me/524151006132'> <i class="fab fa-whatsapp padded-1"></i></a>
    </div>
</section>

<section class='grid bg-light'>
    <div class='col-12 center subtle'>Copyright 2021</div>
</section>