<!-- Header Section -->
<section class='grid-middle bg-image tall-90 '>
   

   <section class='col-2 left padded-1'>
        <a href='/index.html'>
          <img src='/images/logo/knife-transparent-white.png' image-size='max-height:10vh;'>
        </a>
   </section>
    <!-- <nav class='col-10 left uppercase padded-1'>
        <a class='padded-1' href='/restaurante.html'>Restaurante</a>
        <a class='padded-1' href='/tacos-cocktails.html'>tacos & Cocktails</a>
        <a class='padded-1' href='/sobre.html'>sobre Pork Belly</a>
        <a class='padded-1' href='/galeria.html'>Galeria</a>
        <a class='padded-1' href='/contact.html'>Contacto</a>
    </nav> -->

<!-- Hamburger Menu -->
<div class="col-10 right">
    <a class="hamburger-button mob-show"> &#9776; </a>
  </div>
</header> 

<div class="mobile-menu"> 
  <nav> 
    <a href='/restaurante.html'>Restaurante</a>
        <a href='/tacos-cocktails.html'>Tacos & Cocktails</a>
        <a href='/sobre.html'>Sobre Pork Belly</a>
        <a href='/galeria.html'>Galeria</a>
        <a href='/contact.html'>Contacto</a>
  </nav>
</div> 






    <div class='col-3 center'></div>
    <div class='col-6 center'>
        <img src='/images/logo/porkbelly-logo-transparent-white.png' image-size='max-height:50vh;'>
    </div>
    <div class='col-3 center'></div>

    <div class='col-12 right'>
        <a href='https://www.facebook.com/PorkBellysma' target='_blank'  >  <i class="fab fa-facebook padded-1"></i></a> 
        <a href='https://www.instagram.com/porkbelly_sma/?hl=es' target='_blank' > <i class="fab fa-instagram padded-1"></i></a> 
        <a href='https://wa.me/524151006132'> <i class="fab fa-whatsapp padded-1"></i></a>
    </div>
</section>