<!-- Header Section -->
<section class='grid-spaceAround bg-image tall-90 '>
   
    <nav class='col-12 center uppercase padded-1'>
        <a class='padded-1' href='/restaurante.html'>Restaurante</a>
        <a class='padded-1' href='/tacos-cocktails.html'>tacos & Cocktails</a>
        <a class='padded-1' href='/sobre.html'>sobre Pork Belly</a>
        <a class='padded-1' href='#'>Galeria</a>
        <a class='padded-1' href='/contact.html'>Contacto</a>
    </nav>

    <div class='col-3 center'></div>
    <div class='col-6 center'>
        <img src='/images/logo/porkbelly-logo-transparent-white.png' image-size='max-height:50vh;'>
    </div>
    <div class='col-3 center'></div>

    <div class='col-12 right'>
        <a href='https://www.facebook.com/PorkBellysma' target='_blank'  >  <i class="fab fa-facebook padded-1"></i></a> 
        <a href='https://www.instagram.com/porkbelly_sma/?hl=es' target='_blank' > <i class="fab fa-instagram padded-1"></i></a> 
        <a href='https://wa.me/524151006132'> <i class="fab fa-whatsapp padded-1"></i></a>
    </div>
</section>