<!-- Header Section -->
<section class='grid-spaceAround bg-image tall-90 '>
   
    <nav class='col-12 center uppercase padded-1'>
        <a class='padded-1' href='#'>sucurcales</a>
        <a class='padded-1' href='#'>menu</a>
        <a class='padded-1' href='#'>sobre Pork Belly</a>
        <a class='padded-1' href='#'>Galeria</a>
        <a class='padded-1' href='#'>Contacto</a>
        <a class='feature-color padded-1' href='#'>Reservas</a>
    </nav>

    <div class='col-3 center'></div>
    <div class='col-6 center'>
        <img src='/images/logo/porkbelly-logo-transparent-white.png' image-size='max-height:50vh;'>
    </div>
    <div class='col-3 center'></div>
</section>