---
entradas:
    - platillo: Guacamole con totopos
      descripcion: 
      precio: 80
    - platillo: Ensalada de chayote
      descripcion: Segmentos de naranja, oregano, cilantro y semillas de calabaza
      precio: 130
tacos:
    - platillo: Arrachera   
      descripcion: Salsa de tomatillo, aguacate y pico de gallo
      precio: 180
    - platillo: Brisket ahumado
      descripcion: Salsa de tomatillo, aguacate, horseradish y pico de gallo
      precio: 190
hamburguesas:
    - platillo: Pulled  Pork
      descripcion: En pan brioche, mayonesa rosa, hombro de cerdo ahumado en lena de mezquite por 24 hrs, BBQ de la casa, ensalada de repollo, zanahoria ,queso Monterrey.
      precio: 160
    - platillo: Pulled  Pork
      descripcion: En pan brioche, mayonesa rosa, hombro de cerdo ahumado en lena de mezquite por 24 hrs, BBQ de la casa, ensalada de repollo, zanahoria ,queso Monterrey.
      precio: 160    
postres:
    - platillo: Apple Crumble with cardomom ice cream
      precio: 100
    - platillo: Apple Crumble with cardomom ice cream
      precio: 100
cocktails
    - bebida: Hibi Sour
      descripcion: Tequila,campari,spiced hibiscus oleo sacarum, aquafaba and coffee salt
      precio: 140
      - bebida: Hibi Sour
      descripcion: Tequila,campari,spiced hibiscus oleo sacarum, aquafaba and coffee salt
      precio: 140      
---