---
layout:default
entradas:
    - platillo: Guacamole con totopos
      descripcion: Solo una prueba
      precio: 80
    - platillo: Ensalada de chayote
      descripcion: Segmentos de naranja, oregano, cilantro y semillas de calabaza
      precio: 130
tacos:
    - platillo: Arrachera   
      descripcion: Salsa de tomatillo, aguacate y pico de gallo
      precio: 180
    - platillo: Brisket ahumado
      descripcion: Salsa de tomatillo, aguacate, horseradish y pico de gallo
      precio: 190
hamburguesas:
    - platillo: Pulled  Pork
      descripcion: En pan brioche, mayonesa rosa, hombro de cerdo ahumado en lena de mezquite por 24 hrs, BBQ de la casa, ensalada de repollo, zanahoria ,queso Monterrey.
      precio: 160
    - platillo: Pulled  Pork
      descripcion: En pan brioche, mayonesa rosa, hombro de cerdo ahumado en lena de mezquite por 24 hrs, BBQ de la casa, ensalada de repollo, zanahoria ,queso Monterrey.
      precio: 160    
postres:
    - platillo: Apple Crumble with cardomom ice cream
      precio: 100
    - platillo: Apple Crumble with cardomom ice cream
      precio: 100
cocktails
    - bebida: Hibi Sour
      descripcion: Tequila,campari,spiced hibiscus oleo sacarum, aquafaba and coffee salt
      precio: 140
      - bebida: Hibi Sour
      descripcion: Tequila,campari,spiced hibiscus oleo sacarum, aquafaba and coffee salt
      precio: 140      
---


<section class='grid padded bg-dark'>
    <div class='col-12'>
        <h3 class='center uppercase'>menu</h3>
    </div>

    <div class='col-6_sm-12 padded-1'>
        <h3>Entradas & Platillos para compartir</h3>
        
        <div class='grid padded-1 padded-l-0'>
            {% for item in page.entradas %}
            <div class='col-10'>
                <p>{{item.platillo}}</p>             
            </div>
            <div class='col-2'>
                <p>${{item.precio}}</p>
            </div>
          <div class='col-12'>
              <p>{{item.descripcion}}</p>
          </div>
          {% endfor %}
        </div>
       

        <h3 class='medium-text'>tapas.</h3>
        <div class='grid padded-1 padded-l-0'>
            <div class='col-10'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>             
            </div>
            <div class='col-2'>
                <p>$20</p>
            </div>
            <div class='col-10'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>             
            </div>
            <div class='col-2'>
                <p>$20</p>
            </div>
            <div class='col-10'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>             
            </div>
            <div class='col-2'>
                <p>$20</p>
            </div>
            <div class='col-10'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>             
            </div>
            <div class='col-2'>
                <p>$20</p>
            </div>
        </div>
    </div>
        

        <div class='col-6_sm-12 padded-1'>
        <h3 class='medium-text'>classics.</h3>
            <div class='grid padded-1 padded-l-0'>
            <div class='col-10'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>             
            </div>
            <div class='col-2'>
                <p>$20</p>
            </div>
            <div class='col-10'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>             
            </div>
            <div class='col-2'>
                <p>$20</p>
            </div>
            <div class='col-10'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>             
            </div>
            <div class='col-2'>
                <p>$20</p>
            </div>
        </div>

        <h3 class='medium-text'>negronis.</h3>
        <div class='grid padded-1 padded-l-0'>
            <div class='col-10'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>             
            </div>
            <div class='col-2'>
                <p>$20</p>
            </div>
            <div class='col-10'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>             
            </div>
            <div class='col-2'>
                <p>$20</p>
            </div>
        </div>

        <h3 class='medium-text'>signature.</h3>
        <div class='grid padded-1 padded-l-0'>
            <div class='col-10'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>             
            </div>
            <div class='col-2'>
                <p>$20</p>
            </div>
            <div class='col-10'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>             
            </div>
            <div class='col-2'>
                <p>$20</p>
            </div>
        </div>
       </div>
    </section>